.rotating-bg {
    animation: rotate-bg-color 10s infinite;
    height: inherit;
    width: inherit;

    background-image: linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);

    background-position: 0 0, 0 0, 30px 53px, 30px 53px, 0 0, 30px 53px;
}



@keyframes rotate-bg-color {
    0% {
        background-color: black;
        background-size: 60px 105px;
    }

    25% {
        background-color: #000dff18;
    }

    50% {
        background-color: rgba(76, 0, 130, 0.185);
    }

    75% {
        background-size: 150px 120px;
        background-color: rgba(0, 0, 0, 0.486);

    }

    100% {
        background-color: rgba(0, 0, 0, 0.486);

    }
}